<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.html [L]

    # Redirect all HTTP to HTTPS
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://www.worldwidequalityinspection.com%{REQUEST_URI} [L,R=301]

    # Redirect non-www to www (optional)
    RewriteCond %{HTTP_HOST} ^worldwidequalityinspection\.co.uk$ [NC]
    RewriteRule ^ https://www.worldwidequalityinspection.com%{REQUEST_URI} [L,R=301]
</IfModule>